<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MODUMIN</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MODUMIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page1">Midi note</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page2">Spectrum</a>
                </li>
            </ul>
        </div>
        <div class="ml-auto">
            <span class="navbar-text">
                Pico IP: <span id="pico-ip">{{ pico_ip }}</span>
            </span>
            <form class="form-inline" id="connect-form">
                <input class="form-control mr-sm-2" type="text" placeholder="Pico IP" id="pico-ip-input">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Connect</button>
            </form>
        </div>
    </nav>

    <div class="container mt-5">
        <h1>Welcome to MODUMIN</h1>
        <p>Please make sure to imput right IP address to the upper right corner.
        </p>
    </div>

    <script>
        document.getElementById('connect-form').addEventListener('submit', function(event) {
            event.preventDefault();
            var picoIP = document.getElementById('pico-ip-input').value.trim();
            if (picoIP) {
                fetch('/connect', {
                    method: 'POST',
                    body: new URLSearchParams({ 'pico_ip': picoIP }),
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                }).then(function(response) {
                    if (response.ok) {
                        document.getElementById('pico-ip').textContent = picoIP;
                        alert('Connected to Pico at ' + picoIP);
                    } else {
                        alert('Failed to connect to Pico');
                    }
                }).catch(function(error) {
                    console.error('Error connecting to Pico:', error);
                    alert('Error connecting to Pico');
                });
            } else {
                alert('Please enter a valid Pico IP address');
            }
        });
    </script>
</body>
</html>
