<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page 1</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">MODUMIN</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/page1">Midi note</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/page2">Spectrum</a>
                </li>
            </ul>
        </div>
        <div class="ml-auto">
            <span class="navbar-text">
                Pico IP: {{ pico_ip }}
            </span>
        </div>
    </nav>
    <div class="row justify-content-center">
        <div class="col-md-8" style="padding-top: 50px;">
            <h1 style="text-align: center;">MIDI</h1>
            <div id="noteName" style="font-size: 5em; text-align: center;"></div>
            <div id="noteMidi" style="font-size: 5em; text-align: center;"></div>
            
        </div>
    </div>
</div>

<script>
    setInterval(function() {
    // Fetch data from the server
    fetch('/page1_data')
        .then(response => response.json())
        .then(data => {
            // Update the page with the fetched data
            var notes = ['C', 'C#', 'D', 'D#', 'E', 'F', 'F#', 'G', 'G#', 'A', 'A#', 'B'];
            var octave = Math.floor((data - 10) / 12);
            var noteIndex = (data - 10) % 12;
            var noteName = notes[noteIndex];
            noteName += octave;
            document.getElementById('noteName').innerText = noteName;
            document.getElementById('noteMidi').innerText = data;
            // Calculate hue based on MIDI note value
            var hue = ((data - 30) / 117) * 120; 

            // Convert hue to RGB
            var chroma = 1;
            var x = chroma * (1 - Math.abs((hue / 60) % 2 - 1));
            var m = 1 - chroma;

            var r, g, b;

            if (0 <= hue && hue < 60) {
                r = chroma;
                g = x;
                b = 0;
            } else if (60 <= hue && hue < 120) {
                r = x;
                g = chroma;
                b = 0;
            } else {
                r = 0;
                g = chroma;
                b = x;
            }

            // Scale RGB values to range 0-255
            var red = Math.round((r + m) * 255);
            var green = Math.round((g + m) * 255);
            var blue = Math.round((b + m) * 255);

            // Set webpage background color using RGB values
            document.body.style.backgroundColor = 'rgb(' + red + ',' + green + ',' + blue + ')';
        })
        .catch(error => {
            console.error('Error fetching data:', error);
        });
}, 250); // Refresh every 250 milliseconds

</script>
</body>
</html>
